<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag "sessions.css" %> 
	</head>
	<body>
<div class="container">
	<div class="navbar-header"></div>
	


	<div class="navbar navbar-fixed-top navbar-inverse">
		
			<a class="navbar-brand logo" href="#" >ABHS</a>
			<ul class="nav navbar-nav ">
				<li class="">
					
					<a  href="#">ŽENSKA OBUĆA</a>
				</li>
				<li>
					<a href="#">MUŠKA OBUĆA</a>
				</li>
				<li>
					<a href="#">DJEČJA OBUĆA</a>
				</li>
				<li>
					<a href="#">SPORTSKA OBUĆA</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:150px"> 
				<% if current_user %>

					   <li> Logged in as <%= current_user.ime %>. </li>
					   <li> <%= link_to "Log out", sessions_logout_path %> </li>
				<% else %>
				   
				   		<li> <%= link_to "Sign up", users_new_path %> </li>
				  	    <li> <%= link_to "Log in", sessions_login_path %> </li>
				  <% end %>
			</ul>
			
		</div>
		</div>
	</div>
	<div class="panel-footer" >
			<div class="container">
				<div class="row"></div>		
					<div class="col-md-4">
						<p style="color:#999; font-weight:400px; font-size:12px">
							Copyright&copy;ABHShoes.All rights reserved.
						</p>
					</div>
					<div class="col-md-8">
						 <% @categories.each do |c| %>
          <li><a href="<%= category_path(c)%>"><%=c.name%></a></li>
        <% end %>	
					</div>
			</div>
		</div>

</body>
</html>

