<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "sessions.css" %> 
  </head>
  <body>
<div class="container">
  <div class="navbar-header"></div>
  


  <div class="navbar navbar-fixed-top navbar-inverse">
    
      <a class="navbar-brand logo" href="/" >ABHS</a>
      <ul class="nav navbar-nav ">
        <li class="">
          
          <a  href="#">ŽENSKA OBUĆA</a>
        </li>
        <li>
          <a href="#">MUŠKA OBUĆA</a>
        </li>
        <li>
          <a href="#">DJEČJA OBUĆA</a>
        </li>
        <li>
          <a href="#">SPORTSKA OBUĆA</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-right:150px"> 
        <% if current_user %>

             <li> Logged in as <%= current_user.ime %>. </li>
             <li> <%= link_to "Log out", sessions_logout_path %> </li>
        <% else %>
           
              <li> <%= link_to "Sign up", users_new_path %> </li>
                <li> <%= link_to "Log in", sessions_login_path %> </li>
          <% end %>
      </ul>
      
    </div>
    </div>
 
  <div  class="text-center forma">

     <h1>Registriraj se</h1>
    <%= form_for(:korisnik, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <p> Username:</br> <%= f.text_field :ime%> </p>
       <p> Prezime:</br> <%= f.text_field :prezime%> </p>
      <p> Email:</br> <%= f.text_field :email%> </p>
      <p> Password:</br> <%= f.password_field :password%></p>
      <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
      <%= f.submit :Registriraj %>
    <% end %> 
    <% if @korisnik.errors.any? %>
      <ul class="Signup_Errors">
      <% for message_error in @korisnik.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
      </ul>
  <% end %>
  </div>


  </div>
  <div class="panel-footer" >
      <div class="container">
        <div class="row"></div>   
          <div class="col-md-4">
            <p style="color:#999; font-weight:400px; font-size:12px">
              Copyright&copy;ABHShoes.All rights reserved.
            </p>
          </div>
          <div class="col-md-6">
            <ul class="footer-nav">
              <li><a href="#">Zenska obuća</a></li>
              <li><a href="#">Muska obuća</a></li>
              <li><a href="#">Djecija obuća</a></li>
              <li><a href="#">Sportska obuća</a></li>
            </ul>
          </div>
      </div>
    </div>
</body>
</html>

