 <!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left:100px;">
      <a class="navbar-brand" href="/">ABSHOES</a>
    </div>
    <ul class="nav navbar-nav" style="margin-left:100px;">
      <% @categories.each do |c| %>
          <li><a href="<%= category_path(c)%>"><%=c.name%></a></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right:150px"> 
        <% if current_user %>

             <li> Logged in as <%= current_user.ime %>. </li>
             <li> <%= link_to "Log out", sessions_logout_path %> </li>
        <% else %>
           
              <li> <%= link_to "Sign up", users_new_path %> </li>
                <li> <%= link_to "Log in", sessions_login_path %> </li>
          <% end %>
      </ul>
  </div>
</nav>

<div class="container" >
<div >
    <div id="proizvod-forma" >
      	<h1>Dodavanje nove varijante</h1>
          <%= form_for(:variant, :url => variants_path) do |f| %>
             <p> Boja:</br> <%= f.number_field :color_id %> </p> 
             <p> Velicina:</br> <%= f.number_field :size_id %> </p>
             <p> Proizvod:</br> <%= f.number_field :product_id %> </p>
             <p> Cijena:</br> <%= f.number_field :price %> </p>
             <p> Kolicina:</br> <%= f.number_field :qty %></p>
             <p><%= f.submit :DodajVarijantu %></p>
       <% end %>
</div>
</div>
</div>    
</body>
</html>