 
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left:100px;">
      <a class="navbar-brand" href="/">ABSHOES</a>
    </div>
    <ul class="nav navbar-nav" style="margin-left:300px;">
      <% @categories.each do |c| %>
          <li><a href="<%= category_path(c)%>"><%=c.name%></a></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right:350px"> 
        <% if current_user %>

             <li> Logged in as <%= current_user.ime %>. </li>
             <li> <%= link_to "Log out", sessions_logout_path %> </li>
        <% else %>
           
              <li> <%= link_to "Registriraj se", users_new_path %> </li>
                <li> <%= link_to "Prijavi se", sessions_login_path %> </li>
          <% end %>
      </ul>
  </div>
</nav>


 


      <div class="container content">
      <div class="row">
<div class="col-sm-2" >
          <div class="">
            <p>FILTER<p>
          </div>
         
           
            
               <div class="lista">
      <%= form_tag category_path, method: :get , id: "pretraga",remote: true do%> 
     <ol class="list-unstyled">
              <li> 
         Boja: <br>
                  <%= select_tag "color_id", options_from_collection_for_select([Color.new(color:"--sve boje--",id: -1)]+@colors, "id", "color")%>
              </li>
              <li>
                 Cijena:
              <select class="selectpicker" id="price-filter" name="priceRange">
                    <option VALUE="0-999" selected>--Sve cijene--</option>
                    <option VALUE="0-30">0KM-30KM</option>
                    <option VALUE="30-60">30KM-60KM</option>
                    <option VALUE="60-90">60KM-90KM</option>
                    <option VALUE="90-120">90KM-120KM</option>
                    <option VALUE="120-999">120KM-&infin;</option>
                </select>
              </li>
              <li>
                Velicina:
                <select class="selectpicker" id="size-filter" name="sizeRange">
                  <option value="0-100" selected>--Sve velicine--</option>
                  <option value="35-38" >Od 35 do 38</option>
                  <option value="39-41">Od 39 do 41</option>
                  <option value="42-44">Od 42 do 44</option>
                  <option value="45-55">45 i više</option>
                </select>
              </li>
               </ol >
                <% end %>   

          </div>
         
        </div>

   <div class="col-sm-10 ">
             <div class="col-sm-12">

                 <p id="categorija" style="float:left; display:inline"> <%=@category.name%></p> 

                  <div class="cijena-nav">
                     Cijena: 
                    <select class="selectpicker" form="pretraga" id="cijena" name="cijena">
                       <option value="DESC">Od veće ka manjoj</option>
                        <option value="ASC">Od manje ka većoj</option>
                    </select>
                   
             
                   </div>
             </div>
           <%= render :partial => "partials/show_variants" %>

        </div>

        

      </div>

    </div>

  
<script>
  $("#price-filter, #color_id, #size-filter, #cijena").on('change', function() {
    $("#pretraga").submit();
  })
</script>



  <div class="panel-footer" id="footer-down" >
      <div class="container">
        <div class="row"></div>   
          <div class="col-md-4">
            <p style="color:#999; font-weight:400px; font-size:12px">
              Copyright&copy;ABHShoes.All rights reserved.
            </p>
          </div>
          <div class="col-md-8">
            <ul class="footer-nav">
              <% @categories.each do |c| %>
          <li><a href="<%= category_path(c)%>"><%=c.name%></a></li>
        <% end %> 
            </ul>
          </div>
      </div>
    </div>
