<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>
	<div class="navbar navbar-fixed-top navbar-inverse" style="margin-bottom:100px">
		
			<a class="navbar-brand logo" href="/" >ABHS</a>
			<ul class="nav navbar-nav ">
				<li class="">
					
					<a  href="#">ŽENSKA OBUĆA</a>
				</li>
				<li>
					<a href="#">MUŠKA OBUĆA</a>
				</li>
				<li>
					<a href="#">DJEČJA OBUĆA</a>
				</li>
				<li>
					<a href="#">SPORTSKA OBUĆA</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:150px"> 
				<% if current_user %>

					   <li> Logged in as <%= current_user.ime %>. </li>
					   <li> <%= link_to "Log out", sessions_logout_path %> </li>
				<% else %>
				   
				   		<li> <%= link_to "Sign up", users_new_path %> </li>
				  	    <li> <%= link_to "Log in", sessions_login_path %> </li>
				  <% end %>
			</ul>
			
		</div>
		</div>	
		<div style="margin-top:100px">
			<div class="container group">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<%= image_tag @product.image.url(:medium) %> 
					</div>
					<div class="col-md-6 col-xs-12">
						<h3 style="font-weigth:bold"><%=@product.naziv %></h3><br>
						<p><%= @product.opis%></p>
					</div>
				</div>
			</div>

		</div>
<div class="panel-footer footer" style="margin-top:300px ">
			<div class="container">
				<div class="row"></div>		
					<div class="col-md-4">
						<p style="color:#999; font-weight:400px; font-size:12px">
							Copyright&copy;ABHShoes.All rights reserved.
						</p>
					</div>
					<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="#">Zenska obuća</a></li>
							<li><a href="#">Muska obuća</a></li>
							<li><a href="#">Djecija obuća</a></li>
							<li><a href="#">Sportska obuća</a></li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</div>

	</body>
</html>	